<div class="Media-Container" [id]="containerId">

  <div class="Media-VWHolder">

    <div class="Media-ViewWindow" [ngStyle]="{
    'aspect-ratio': vidAspectRatio
    }">

      <div class="Media-Holder">

        <video [id]="containerId + 'Vid'" [ngStyle]="{
        'aspect-ratio': (originalVidWidthPX / originalVidHeightPX)
        }">
          <source [src]="videoSrc" [type]="videoType">
        </video>

      </div>

      <div class="CenterRowFlex Points-Overlay-Container">
        <div class="CenterRowFlex Points-Overlay-Holder">
          <div [id]="containerId + 'Img'" class="Points-Overlay Points-Animation">
            <img [src]="pointSrc" [alt]="pointAlt" width="100%" height="100%">
          </div>
        </div>
      </div>

      <div class="Media-Fader"></div>

    </div>

  </div>

</div>
