<div class="Media-Container" [id]="containerId">

  <div class="Media-VWHolder">

    <div class="Media-ViewWindow" [ngStyle]="{
    'aspect-ratio': gifAspectRatio
    }">

      <div class="Media-Holder">

        <img [id]="containerId + 'Img'" [src]="src" [alt]="alt" [ngStyle]="{
        'animation-duration': duration + durationUnit,
        'animation-iteration-count': ((iterationCount < 0) ? 'infinite' : iterationCount),
        'animation-timing-function': 'steps(' + frameCount + ')',
        'aspect-ratio': ((originalGifWidthPX * frameCount) / originalGifHeightPX)
        }">

        <div class="Media-Fader State-1"></div>

      </div>

    </div>

  </div>

</div>
