img {
  animation-name: AnimateImage;
  animation-fill-mode: forwards;
}

.State-1 {
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 1) 90%);
}

@keyframes AnimateImage {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
