<div class="Menu-Wrapper">

  <div class="Menu-Header">
    <div class="Menu-Texture"></div>
    <div class="CenterRowFlex Menu-Header-Holder">
      <div class="Header-Button">
        <app-button (onButtonClick)="appComponent.setWindowNumberToShowTo(0)" buttonText="Back"></app-button>
      </div>
      <div style="font-size: max(30px, 2vw)" class="CenterColumnFlex Header-Title">About</div>
      <div class="Header-Button"></div>
    </div>
  </div>

  <div class="Menu-Divider"></div>

  <div class="CenterRowFlex Menu-Body">
    <div class="Text-ContentHolder">
      <div class="CenterColumnFlex Text-ContentWrapper" style="align-items: stretch;">
        <div class="Game-Title-Holder">
          <div class="Game-Title">
            <canvas [ngStyle]="{
            'width': windowWidth + 'px',
            'height': windowHeight + 'px'
            }" id="c3">
              <canvas [ngStyle]="{
              'width': windowWidth + 'px',
              'height': windowHeight + 'px'
              }" id="c2">
                <canvas [ngStyle]="{
                'width': windowWidth + 'px',
                'height': windowHeight + 'px'
                }" id="c1">

                </canvas>
              </canvas>
            </canvas>
          </div>
        </div>
        <br>
        <hr>
        <h1>Developed By:</h1>
        <h2>Harshil Jain</h2>
        <div style="display: block;">
          <div class="CenterRowFlex" style="width: 50%; justify-content: space-around; margin: 0 auto;">
            <a href="https://t.me/kawaii_rori" target="_blank">Telegram</a>
            <a href="https://www.linkedin.com/in/harshil-jain-000/" target="_blank">LinkedIn</a>
          </div>
        </div>
        <br>
        <br>

        <hr>
        <h1>Our Partners:</h1>
        <h2><a href="https://inuanon.com/" target="_blank" style="color: hotpink;">Anon Inu</a></h2>
        <br>

        <hr>
        <h1>Credits:</h1>
        <p style="text-align: center;">
          Royalty Free Music from <a href="https://www.bensound.com" target="_blank">Bensound</a>
        </p>
      </div>
    </div>
  </div>

</div>
