.PM-Wrapper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: 5px;

  border: 1px solid #b2b9be;
  border-radius: 10px;
  box-shadow: 0 0 2px 8px rgba(189, 188, 188, 0.33);
}

.PM-Header {
  height: 15%;
  width: 100%;

  border-radius: 10px;

  background: antiquewhite;
  color: #7e0202;
  font-weight: bold;
  min-font-size: 20px;
  font-size: 1.7vw;
  max-font-size: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PM-Body {
  height: 85%;
  width: 100%;

  background: rgba(0, 0, 0, 0.33);
}

.PM-Element {
  height: 150px;
  width: 100%;

  display: flex;
  justify-content: center;

  box-sizing: border-box;

  border-bottom: 1px solid #3d3d3d;
}

.PM-SubElement {
  height: auto;
  margin: 5px;
}

.Index {
  flex: 1 0 0;
}

.Address {
  flex: 15 0 0;
}
