.PU-Overlay {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;

  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}

.PU-Container {
  height: max(500px, 40%);
  width: max(600px, 30%);
  z-index: 101;

  background: rgba(90, 90, 90, 0.8);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}

.PU-Child {
  width: 100%;
  border-radius: 7px;
}

.PU-Header {
  flex: 5 0 0;

  display: flex;
  justify-content: flex-end;
}

.PU-HeadButton-Holder {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

.PU-CloseButton {
  width: 100%;
  height: 100%;
  border: none;

  border-radius: 3px;
  background: rgba(240, 225, 180, 0.7);
  text-align: center;
  font-weight: bold;

  transition: all 0.2s;
}

.PU-CloseButton:hover {
  background: rgba(233, 200, 105, 0.85);
  transform: scale(0.9, 0.9);
}

.PU-Body {
  flex: 95 0 0;
}

.PU-Body-Text {
  flex: 80 0 0;

  box-sizing: border-box;
  padding: 8px;
  overflow: auto;

  color: rgba(224, 248, 248, 0.85);
  font-size: max(20px, 1.75vw);
  font-weight: bold;
  text-align: center;
}

.PU-Body-Buttons {
  width: 100%;
  flex: 20 0 0;

  box-sizing: border-box;
  padding: 3px;
  justify-content: space-around;
}

app-button {
  height: 90%;
  font-weight: bold;
  font-size: max(17px, 1.3vw);
}
