<div class="CenterRowFlex PU-Overlay" [id]="id">
  <div class="CenterColumnFlex PU-Container">

    <div class="PU-Child PU-Header">
      <div *ngIf="isClosable" (click)="closeThePopUp()" class="PU-HeadButton-Holder">
        <button class="CenterRowFlex PU-CloseButton">X</button>
      </div>
    </div>
    <div class="CenterColumnFlex PU-Child PU-Body">
      <div class="CenterRowFlex PU-Body-Text">
        {{text}}
      </div>

      <div class="CenterRowFlex PU-Body-Buttons">
        <app-button *ngFor="let button of buttonList; let i = index;"
                    (onButtonClick)="callButtonFunction(i)"
                    [buttonText]="button.buttonText">
        </app-button>
      </div>
    </div>

  </div>
</div>
