<div class="CenterRowFlex PU-Overlay" [id]="id">
  <div class="CenterColumnFlex PU-Container">

    <div *ngIf="isClosable" class="PU-Child PU-Header">
      <div (click)="closeThePopUp()" class="PU-HeadButton-Holder">
        <button class="CenterRowFlex PU-CloseButton">X</button>
      </div>
    </div>
    <div class="CenterColumnFlex PU-Child PU-Body">
      <div class="CenterColumnFlex PU-Body-Text">
        <div *ngFor="let subText of textArray">
          <div *ngIf="subText !== ''">
            {{subText}}
          </div>
          <br>
        </div>
      </div>

      <div *ngIf="buttonList.length > 0" class="CenterRowFlex PU-Body-Buttons">
        <app-button *ngFor="let button of buttonList; let i = index;"
                    [ngStyle]="{
                    'width': (80 / buttonList.length) + '%'
                    }"
                    (onButtonClick)="callButtonFunction(i)"
                    [buttonText]="button.buttonText">
        </app-button>
      </div>
    </div>

  </div>
</div>
