<div class="MM-Wrapper">
  <div class="MM-Element-Button" style="height: 14%;">
    <!--Empty Space To Push Stuff Down-->
  </div>
  <app-button (onButtonClick)="appComponent.gameManagerService.createNewGame()" class="MM-Element-Button"
              buttonText="New Game"></app-button>

  <app-button (onButtonClick)="appComponent.gameManagerService.getAvailableGameList()" class="MM-Element-Button"
              buttonText="Join Game"></app-button>

  <app-button (onButtonClick)="appComponent.setWindowNumberToShowTo(5)" class="MM-Element-Button"
              buttonText="Buy Tickets"></app-button>

  <app-button (onButtonClick)="appComponent.setWindowNumberToShowTo(4)" class="MM-Element-Button"
              buttonText="How To Play?"></app-button>

  <app-button (onButtonClick)="appComponent.setWindowNumberToShowTo(6)" class="MM-Element-Button"
              buttonText="About"></app-button>
</div>
