.MM-Wrapper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.MM-Element-Button {
  width: 95%;
  height: 10%;

  display: flex;
  flex-direction: column;
}
