.MM-Wrapper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}

.MM-Element-Button {
  width: 85%;
  height: 12.75%;

  font-size: max(22px, 1.9vw);
}
