.Texture {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-position: center;
  background-size: cover;
}

.MM-Top-Header {
  width: 100vw;
  min-width: 975px;
  height: 4.25vh;
  z-index: 10;

  position: absolute;
  box-sizing: border-box;
  padding: 0 10px;

  top: 10px;
  display: flex;
}

audio {
  display: none;
}

.MM-Music-Icon-Holder {
  height: 95%;
  max-height: 95%;
  aspect-ratio: 1 / 1;

  border: 2px solid #5f6267;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

#music-icon {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

.MM-Info-Holder {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  color: blanchedalmond;
}

.MM-Info-Element {
  height: 100%;
  border: 2px solid #5f6267;
  border-radius: 3px;
  position: relative;
  font-size: 13px;
  background-color: rgba(23, 23, 23, 0.75);
}

.MM-Info-ElemGap {
  height: 100%;
  width: 15px;
}

.MM-Info-Top {
  border-bottom: 1px solid #5f6267;
  height: 50%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}

.MM-Info-Bottom {
  height: 50%;
  position: absolute;
  left: 10px;
  right: 10px;
}

.RootContainer {
  max-width: 100%;
  width: 100%;
  flex: 1 0 0;
  z-index: 1;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*
* ng-template and ng-container gets automatically commented out,
* so no need to set properties for these 2 elements.
* All hail Angular !!!
*/

app-main-menu {
  width: max(500px, 40%);
  height: max(500px, 80%);
}

app-player-menu {
  width: max(775px, 65%);
  height: max(450px, 85%);
}

app-join-menu {
  width: max(775px, 65%);
  height: max(450px, 85%);
}

app-game-window {
  width: max(775px, 100%);
  height: max(450px, 95%);
}

app-ticket-buy-window {
  width: max(575px, 42.5%);
  height: max(500px, 70%);
}

app-rules-window {
  width: 900px;
  height: max(775px, 90%);

  min-width: 900px;
  max-width: 900px;
}

app-about-window {
  width: 900px;
  height: max(775px, 90%);

  min-width: 900px;
  max-width: 900px;
}

.LoadingImageDiv {
  height: fit-content;
  width: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
