.Texture {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  opacity: 0.33;
}

.MM-Top-Header {
  width: 100vw;
  height: 5vh;
  z-index: 10;

  position: absolute;
  box-sizing: border-box;
  padding: 5px;

  top: 0;
  display: flex;
}

audio {
  display: none;
}

.MM-Music-Icon-Holder {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

#music-icon {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

.RootContainer {
  max-width: 100%;
  width: 100%;
  flex: 1 0 0;
  z-index: 1;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*
* ng-template and ng-container gets automatically commented out,
* so no need to set properties for these 2 elements.
* All hail Angular !!!
*/

app-main-menu {
  width: max(500px, 40%);
  height: max(500px, 80%);
}

app-player-menu {
  width: max(775px, 65%);
  height: max(450px, 85%);
}

app-join-menu {
  width: max(775px, 65%);
  height: max(450px, 85%);
}

app-game-window {
  width: max(775px, 80%);
  height: max(450px, 95%);
}

app-ticket-buy-window {
  width: max(575px, 42.5%);
  height: max(500px, 70%);
}

app-rules-window {
  width: 900px;
  height: max(775px, 90%);

  min-width: 900px;
  max-width: 900px;
}

app-about-window {
  width: 900px;
  height: max(775px, 90%);

  min-width: 900px;
  max-width: 900px;
}

.LoadingImageDiv {
  height: fit-content;
  width: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
