<div *ngIf="windowNumberToShow !== 2" class="Texture"></div>

<div class="MM-Top-Header">
  <div (click)="audioManagerService.toggleAudio()" class="MM-Music-Icon-Holder">
    <img id="music-icon" src="{{audioManagerService.audioIcon}}" alt="Play / Pause">
  </div>
</div>

<div class="CenterRowFlex RootContainer">

  <div *ngIf="shouldShowLoadingScreen(); else showMenu" class="LoadingImageDiv">
    <img src="../assets/images/Loading.svg" alt="...LOADING...">
  </div>

  <ng-template #showMenu>
    <ng-container [ngSwitch]="windowNumberToShow">
      <!-- Change this to router-outlet later -->
      <app-main-menu *ngSwitchCase="0" [appComponent]="this" class="CenterRowFlex"></app-main-menu>
      <app-player-menu *ngSwitchCase="1" [appComponent]="this"></app-player-menu>
      <app-game-window *ngSwitchCase="2" [appComponent]="this" class="CenterRowFlex"></app-game-window>
      <app-join-menu *ngSwitchCase="3" [appComponent]="this"></app-join-menu>
      <app-rules-window *ngSwitchCase="4" [appComponent]="this"></app-rules-window>
      <app-ticket-buy-window *ngSwitchCase="5" [appComponent]="this"></app-ticket-buy-window>
    </ng-container>
  </ng-template>

</div>

<app-pop-up *ngFor="let popUpKey of popUpManagerService.activePopUpKeys"
            [id]="popUpKey" [appComponent]="this"
            [text]="popUpManagerService.activePopUps[popUpKey].text"
            [buttonList]="popUpManagerService.activePopUps[popUpKey].buttonList"
            [isClosable]="popUpManagerService.activePopUps[popUpKey].isClosable"
            [autoCloseAfterMillis]="popUpManagerService.activePopUps[popUpKey].autoCloseAfterMillis"
            (onPopUpClose)="popUpManagerService.popUpClosed(popUpKey)">
</app-pop-up>
