.container {
  width: 100%;
  flex: 1 0 0;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Times New Roman', serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

app-main-menu {
  min-height: 600px;
  width: 40%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadingImageDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}
