<div *ngIf="windowNumberToShow !== 2" class="Texture"></div>

<div class="container">

  <div *ngIf="shouldShowLoadingScreen(); else showMenu" class="LoadingImageDiv">
    <img src="assets/Loading.svg" alt="...LOADING...">
  </div>

  <ng-template #showMenu>
    <ng-container [ngSwitch]="windowNumberToShow">
      <!-- Change this to router-outlet later -->
      <app-main-menu [appComponent]="this" *ngSwitchCase="0"></app-main-menu>
      <app-player-menu [appComponent]="this" *ngSwitchCase="1"></app-player-menu>
      <app-game-window [appComponent]="this" *ngSwitchCase="2"></app-game-window>
      <app-join-menu [appComponent]="this" *ngSwitchCase="3"></app-join-menu>
    </ng-container>
  </ng-template>

</div>
