.Menu-Body {
  font-size: max(20px, 1.4vw);
  justify-content: space-around;

  box-sizing: border-box;
  padding: 10px;
}

.TW-BodyElement {
  height: 10%;
  width: 100%;
}

.TW-Spacer {
  width: 15px;
  height: 100%;
}

.TW-AmountText {
  height: 100%;
}

.TW-ASButtonHolder {
  aspect-ratio: 1 / 1;
  height: 80%;
}

.TW-AddSubButton {
  width: 100%;
  height: 100%;

  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;

  border-radius: 5px;
  background: rgba(0, 255, 255, 0.75);

  transition: all 0.3s;
}

.TW-AddSubButton:active {
  transform: scale(0.75, 0.75);
}

.TW-AmountHolder {
  width: 10%;
  height: 80%;

  border-radius: 5px;
  background: rgba(255, 253, 251, 0.67);
  color: #252525;
}

.TW-BuyButtonHolder {
  width: 40%;
}
