.BlackBG {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: black;
}

.GW-Container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.GW-Wrapper {
  width: 80%;
  height: 90%;
  position: relative;
  z-index: 1;
}

.GW-HeadingHolder {
  width: 80%;
  max-height: 11%;
  flex: 11 0 0;

  box-sizing: border-box;
  padding: 5px;

  background: rgba(255, 255, 200, 0.85);
  border-radius: 7px;
  box-shadow: 0 0 10px 15px rgba(255, 255, 200, 0.85);
}

.GW-TurnTextHolder {
  height: 100%;
  flex: 95 0 0;
  z-index: 1;

  font-weight: bold;
}

.GW-Timer {
  width: 100%;
  flex: 25 0 0;
  position: relative;

  border: 2px solid coral;
  border-radius: 7px;
  font-size: max(12px, 1.125vw);
}

.GW-TimerMask {
  height: 90%;
  position: absolute;
  border-radius: 7px;
  transition: all 750ms;
  z-index: 2;
  background: coral
}

.GW-TimerText {
  position: absolute;
  z-index: 3;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.GW-TurnText {
  width: 100%;
  flex: 75 0 0;

  font-size: max(22px, 1.5vw);
}

.GW-HeadingDivider {
  height: 100%;
  flex: 5 0 0;
}

.GW-TotalPoints {
  height: 100%;
  aspect-ratio: 1 / 1;

  text-align: center;
  font-weight: bold;
  font-size: max(15px, 1.1vw);
}

.GW-WrapperDivider {
  width: 100%;
  flex: 9 0 0;
}

.GW-DoorHolder {
  width: 100%;
  max-height: 80%;
  flex: 80 0 0;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.Door-Up {
  grid-row: 1 / span 1;
}

.Door-Down {
  grid-row: 2 / span 1;
}

.GW-DoorElement {
  width: 100%;
  height: 100%;

  max-height: 100%;
  max-width: 100%;
}

.GW-DoorImage {
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  flex: 92 0 0;

  position: relative;
}

.GW-OpenButton {
  width: 60%;
  max-width: 100%;
  max-height: 100%;

  flex: 8 0 0;
}

.GW-StatsWrapper {
  width: 20%;
  height: 90%;
  box-sizing: border-box;
  padding-right: 20px;

  position: relative;
  z-index: 1;
}

.GW-ChatBox {
  height: 40%;
  width: 100%;

  border: 1px solid #006900;
  color: #006900;
  border-radius: 5px;

  box-sizing: border-box;
  padding: 3px;
}

.GW-SE-Divider {
  height: 2%;
  width: 100%;
}

.GW-PlayerBox {
  height: calc(58% - 3px);
  width: 100%;

  border: 1px solid #a06900;
  color: #ffdc00;
  border-radius: 5px;

  box-sizing: border-box;
  padding: 3px;
}

.GW-SE-Heading {
  height: 10%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #006900;
  overflow: hidden;
}

.GW-SE-ChatInput {
  height: 9%;
  width: 98%;
  margin: 0;
  background: transparent;
  border: 1px solid #006900;
  color: #006900;
}

.GW-SE-Body {
  width: 100%;
  height: 90%;
}

.GW-SE-SubBody {
  height: 93%;
  width: 100%;
}

.GW-SE-DataBlock {
  height: 5%;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #5f6267;
  border-radius: 7px;
}

.GW-SE-Body-Data-Addy {
  width: 80%;
  max-width: 80%;
  box-sizing: border-box;
  padding: 2px 4px;
}

.GW-SE-Body-Data-Points {
  width: 20%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px 4px;
}

.GW-SE-SideDivide {
  overflow: visible; /* For IE */
  padding: 0;
  height: 0;
  margin: 13px 0;
  border: none;
  border-top: medium double #adadad;
  color: #adadad;
  text-align: center;
}

.GW-SE-SideDivide:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -14px;
  color: #adadad;
  font-size: 20px;
  padding: 0 3px;
  background: transparent;
}

app-aspect-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: absolute;
}
