html body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3a3a3a;
  display: flex;
  align-items: center; /* Center Align Vertically */
}

.wrapper {
  height: 90%;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
}

.child {
  border: 2px solid #000000;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  box-shadow: 0 0 10px 5px black;
}

#right {
  background-color: #888888;
}

.formElement {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 300px;
  border: none;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 7px 4px #3d3d3d;
}

input, button {
  height: 35px;
}

textarea {
  height: 175px;
  resize: none;
}

#submit {
  color: #eff3f6;
  font-weight: bold;
  background-color: #000000;
  box-shadow: 0 0 7px 4px #807c69;
}

#submit:hover {
  background-color: #383838;
}

#LoginForm {
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: grid;
}

#LoginForm h1, h5 {
  color: #ffae00;
  margin: 0 auto;
}

#InputFieldForm {
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  display: grid;
  visibility: hidden;
}

#sendToServer {
  color: #eff3f6;
  font-weight: bold;
  background-color: #000000;
  box-shadow: 0 0 7px 4px #807c69;
}

#sendToServer:hover {
  background-color: #383838;
}
