.ButtonHolder {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.TextHolder {
  height: 100px;
  width: 250px;
  line-height: 100px;

  z-index: 2;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #a88000;
}
.Button {
  min-height: 100px;
  width: 90%;
  height: 90%;

  cursor: pointer;
  transition: all 0.7s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items:center;
}
.Button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,1);
  transition: all 0.35s;
  border-radius: 10px;
}
.Button:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.Button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
  border: 2px solid rgba(255, 255, 255, 0.8);
  transform: scale(1.1,1.1);
  border-radius: 10px;
}
.Button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
