html body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  /* https://www.colorzilla.com/gradient-editor/ */
  background: #5f6267; /* Old browsers */
  background: -moz-radial-gradient(ellipse at center, #5f6267 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at center, #5f6267 0%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #5f6267 0%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f6267', endColorstr='#000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  border-radius: 0.2vw;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2vw;
  background: #8d6d22;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffad00;
}

app-root {
  min-height: 450px;
  min-width: 775px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
}

/*
* Sub - Component CSS Below
*/

.Menu-Wrapper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: 5px;

  border: 1px solid #b2b9be;
  border-radius: 10px;
  box-shadow: 0 0 2px 8px rgba(189, 188, 188, 0.33);
}

.Menu-Header {
  height: 13%;
  width: 100%;

  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  background: antiquewhite;
  color: #7e0202;
  font-weight: bold;
  min-font-size: 20px;
  font-size: max(20px, 1.5vw);
  max-font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-Title {
  flex: 15 0 0;
  text-align: center;
}

.Header-Button {
  height: 45%;
  flex: 2 0 0;

  text-align: center;
  font-size: 1vw;
}

.Menu-Divider {
  height: 2%;
  width: 100%;
}

.Menu-Body {
  height: 85%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  color: antiquewhite;
  font-size: max(14px, 1vw);
  font-weight: bold;
}

.Menu-SubBody {
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: auto;
}

.Menu-Element {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;

  box-sizing: border-box;

  border-bottom: 1px solid #3d3d3d;
}

.Menu-SubElement {
  height: auto;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
